<style>
  .map-container{
       width:100% !important;
       height:100% !important;
     }  
  .menu-button{
      position: absolute;
      left:10px;
      top:10px;
  }  
  #filterButton{
      width:100%;
  }
  .card-content{
      width:100%;
  }
</style>
<div layout="row" class="map-container">   
    <md-sidenav
        class="md-sidenav-left md-whiteframe-4dp"
        md-component-id="left">

      <md-toolbar class="md-hue-2"> 
          <div class="md-toolbar-tools">
              <h2>
                <span>Filtrar Alertas</span>
              </h2>
              <span flex></span>
            <md-button class="md-icon-button" aria-label="Fechar"
                       ng-click="close()">
                <md-icon md-svg-icon="icons/ic_close_white_24px.svg"></md-icon>            
            </md-button>
          </div>       
      </md-toolbar>
        <md-content layout-padding>
            <div layout="row">
                <div layout="column">
                    <md-datepicker ng-model="filter.initialDate" md-placeholder="Enter date"
                               md-max-date="maxDate" ng-change="changeInitialDate()" ></md-datepicker>
                    <md-datepicker ng-model="filter.finalDate" md-placeholder="Enter date"
                              md-min-date="minDate" md-max-date="maxDate"></md-datepicker>           
                </div>                             
            </div>
            <div layout="row">
                <md-button id="filterButton" class="md-raised md-primary" ng-click="getCitizenRequests()">Filtrar</md-button>
            </div>
        </md-content>
    </md-sidenav> 
    
    <div flex>
         
        <div layout="row" class="map-container">
            <div flex id="map">
            </div>

            <!--<div flex="30" layout="column" layout-align="end center">  
                <md-content class="card-content">
                    <md-card ng-repeat="citizenRequest in citizenRequests">
                        <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{citizenRequest.bairro}}</span>
                            <span class="md-subhead">{{citizenRequest.descricao}}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media"></div>
                        </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <p>{{citizenRequest.data}}</p>
                        <!--<md-button>Action 1</md-button>
                        <md-button>Action 2</md-button>-->
                        </md-card-actions>
                    </md-card>
                </md-content>                      
            </div>-->
        </div>          
            
            

        <md-button class="md-fab md-primary menu-button" aria-label="Menu"
                   ng-click="toggleLeft()">
            <md-icon md-svg-icon="icons/ic_search_white_24px.svg"></md-icon>
        </md-button>
    </div>
</div>



